

<h3 class="addComment"><%= @user.name %> </h3>
  <div class="formContainer"></div>

  <h2 class="favWhiskey"><a href="#"> Favorite Whiskeys </a></h2>

<div class="whiskeyList"></div>





<h2 class="favDistiller"> <a href="#"> Favorite Distillers</a></h2>
  <div class="distillerList"></div>
