
<h1>Welcome to Whiskey Trails</h1>

<h2>Find whiskeys by:</h2>

<h2><%= link_to 'Name', whiskeys_path %></h2>
<h2><%= link_to 'Distillers', distillers_path %></h2>
<h2><%= link_to 'Region', regions_path %></h2
