
$(function(){



  $(".favWhiskey").on('click', function(){
        $.get("/", function(data){
      let list = $('.whiskeyList li').length
      if(list < data.whiskeys.length){
          for(i = list; i <= data.whiskeys.length-1; i ++){
              $('.whiskeyList').append('<li>' + data.whiskeys[i].name + ' Liked by ' + data.whiskeys[i].user_likes +' <span onclick="comments(\'addComment\','+ data.whiskeys[i].id +')" class="addComment"> Add Comments</span><span onclick="comments(\'viewComments\','+ data.whiskeys[i].id +')" class="viewComments"> View Comments</span><div class="commentArea" id="'+ data.whiskeys[i].id +'"></div></li>')
          }
      }
    })
  })


  $('.favDistiller').on('click', function(){
    $.get("/", function(data){

      console.log(data)

    })



  })




})





// function getUserdata(){}  fill in get request to only ping server once for favorite user info


function comments(className, id){
  console.log(className)
  if(className == "addComment"){

    $( `#${id}`).empty().append('<form> <textarea></textarea><input type="submit"/></form>')
  } else if (className == "viewComments") {
    $.get(`/whiskeys/${id}/comments`, function(data){
    }).then( function(data){
      let list = $(`#${id} li`).length
      console.log(list)
      for (i =list ; i < data.length; i ++){
        $(`#${id}`).append(`<li> ${data[i].content} - ${data[i].user.name}</li>`)
      }
    })

  }

}
