
$(function(){



  $(".favWhiskey").on('click', function(){
        $.get("/", function(data){
      let list = $('.whiskeyList li').length
      if(list < data.whiskeys.length){
          for(i = list; i <= data.whiskeys.length-1; i ++){
              $('.whiskeyList').append('<li>' + data.whiskeys[i].name + ' Liked by ' + data.whiskeys[i].user_likes +' <span class="addComment"> Add Comments</span><span class="viewComments"> View Comments</span><div class="commentArea"></div></li>')
          }
      }
    })
  })

  $('.whiskeyList').on('mouseover', 'span', function(event){


    comments(this.className)
  })


})


function comments(className){

$('.whiskeyList').on('click', `li, span.${className}` , function(event){

  if(className == "addComment"){
    $( '.commentArea', this).append('<form> <textarea></textarea><input type="submit"/></form>')
  } else if (className == "viewComments") {
    $.get('/', function(data){
      console.log(data)
    })
    event.stopPropagation()
  }
})
}
