
<h1> Country: <%= @region.country %> </h1>

<h3>Distillers</h3>
<% @region.distillers.each do |distiller| %>
  <%= link_to distiller.name, user_distiller_path(current_user, distiller) %>

  <% end %>
